@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.2s ease;
}
