@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.2s ease;
}

.overLay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    transparent,
    #e6e6e6a7 90%
  );
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.floating-img {
  animation: float 1s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.element-without-scrollbar {
  /* Hide the default scrollbars */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* Add custom scrollbar styles */
}

/* Add custom scrollbar styles for WebKit browsers (Chrome, Safari) */
.element-without-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.element-without-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.element-without-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
